<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Send Messages</title>
<link href="../static/css/cstyles.css" th:href="@{/css/cstyles.css}"
	rel="stylesheet" />
</head>
<body>
	<h2>Send Messages</h2>
	<form method="POST" enctype="multipart/form-data" class="sendMessages"
		action="/sms/v1/sendPromotional">

		<div>
			<label for="file-upload" class="custom-file-upload"> <i
				class="fa fa-cloud-upload"></i> Browse Excel
			</label> <input id="file-upload" type="file" name="file" /> <br>
		</div>
		<input type="password" class="password" placeholder="passcode"
			name="passCode" />
		<div class="row">
			<div class="col-75">
				<textarea id="subject" name="message" class="text" maxlength="145"
					placeholder="Write your message here.." style="height: 200px"></textarea>
			</div>
		</div>

		<button type="submit" class="btn" value="Submit">Send
			Messages</button>

	</form>

</body>
</html>